:root{
  --primary-color:rgb(244, 244, 15);
  --black:#111;
}
*{
  box-sizing: border-box;
}
.service1{
  display: flex;
  flex-wrap: wrap;
}
.service1>div{
  width: calc(33% - 20px);
  margin: auto;
}
h1{
  color: #111;
}
p{
  color: #6B6A75;
}
.container-fluid{
  width: 100%;
}
.py-6{
  padding: 90px 3rem;
}
.btn:hover{
  background: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}