*{
    margin: 0%;
    padding: 0;
}
.card{
    padding: 30px;
}
.card-body{
    background-color: #F6F6F6;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.card-body:hover{
    background-color: var(--primary-color);
}
.card-body:hover .card-img {
    background-color: #F6F6F6;
}
.card-body:hover .card-desc{
   color:  #fff;
}
.card-body:hover .card-img i{
    color: var(--primary-color);
}
.card-body:hover .card_body{
    transform: scale(1.05);
}

.card_body{
    display: flex;
    height: 350px;
    box-sizing: border-box;
    /* width: 444px; */
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    transition: all 0.5s ease;
    padding: 45px 10px;
}
.card-title{
    color: var(--black);
    margin-bottom: 1rem;
}
.card-img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    margin-bottom: 1.5rem;
}
.card-img>i{
    color: #fff;
    font-size: 35px;
}
.card-desc{
    padding: 0px 40px;
    text-align:center;
    color: gray;
    font-size: 18px;
    margin-left: 1.3rem;
}